.container {display: flex}

section {flex-grow: 1}

/* Comment list */

.comment-list {
	margin-right: 10px;
	list-style-type: none;
}

.no-comment {
	opacity: .65;
	font-size: 18px;
	font-style: italic;
}

/* Single comment style */

.comment {
	padding: 10px 0;
	border-top: 1px solid #ccc;
	font-size: 16px
}

.comment .header {
	padding-bottom: 2px;
	font-size: 14px
}
.comment .header i {opacity: .65}

aside + h1 {display: none}

/* Comment form */

aside form {
	top: 70px;
	position: sticky;
}

form input {display: block}

form textarea {height: 100px}

/* Media queries */

@media screen and (max-width: 1200px) {
	.container {flex-direction: column-reverse}

	aside {margin-bottom: 20px}

	.comment-list {margin-right: 0}

	section h1 {display: none}

	aside + h1 {display: block}
}