{% extends "base.html.twig" %}

{% block title %}Accompagnement des fumeurs{% endblock %}

{% block body %}
	<div class="container">
		<h1>Accompagnement des fumeurs</h1>

		<p style="opacity: .65; font-style: italic">Contenu à venir...</p>
	</div>
{% endblock %}